# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1.Python

2.R

3.SQL

Some of the commonly used libraries used by Data Scientists include:

1.Pandas

3.NumPy

4.Matplotlib

| Data Science Tools      |
|-------------------------|
| Jupyter Notebook        |
| RStudio                 |
| Apache Zeppelin         |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Create and run arithmetic expressions in Python
- Share Jupyter Notebooks via GitHub

## Author
Abderrahim EL AMRANI